@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/* Globals */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  background: #F4F4F6;
  font-family: 'Open Sans';
  font-size: 16px;
}

button{
  font-family: 'Open Sans';
  font-size: 16px;
}

section{padding: 40px 0 20px 0;}

.content{padding: 70px 0 80px 0;}

h1, h2, h3, h4, h5, h6 {
  font-family:'Montserrat';
  font-weight: 400;
}

header nav a:hover{color: #fff;}

a{text-decoration: none;}

button.btn-primary {background: #0070BE;}

button.btn-cancelar {border-color:#ae0909; background: transparent; color:#ae0909;}
button.btn-cancelar:hover{border-color:#dc5e5e; color:#dc5e5e;}

button.btn-link {color: #979797;}

.btn {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 7px 30px;
  font-size: 17px;
  color: #fff;
  transition: all 0.2s linear;
  font-weight: 100;
}

.vistoria.automovel .btn-primary{
  background: #095FAE;
  border-color: #095FAE;
}

.vistoria.automovel .btn-primary:hover{
  background: #0095DA;
  border-color: #0095DA;
}

.vistoria.automovel .btn-second{
  background: none;
  border-color: #095FAE;
  color: #095FAE;
}

.vistoria.automovel .btn-second:hover{
  background: none;
  border-color: #0095DA;
  color: #0095DA;
}

.btn-final{
  background: #10C25D;
}

.box-form-select{padding-top: 30px;}

.yellow{color:#FFBC00;}

.gray{color:#a5aab6;}

.red{color:#99000f;}

.white{color:#fff;}



/* footer{
  text-align: center;
  background: #fff;
  padding: 5px 0;
  border-top: 1px solid #BADDF2;
  margin-top: 20px;

  position: absolute;
  bottom: 0;
  width: 100%;
} */

footer{
  text-align: center;
  background: #fff;
  padding: 5px 0;
  border-top: 1px solid #BADDF2;
  margin-top: 20px;
  width: 100%;
}

/* Fim Globals */

/*  Etapas */
.tab-content .tab-pane {position: relative;}

.tab-content{transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);}

.tab-content .fade{transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);}

.process-model {
  text-align: center;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%;
  margin: 0px auto 35px;
  border: none;
  z-index: 0;
  transition: all 300ms linear;
}

.process-model li::after {
  background: #dadbdd;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  margin: 0 auto;
  position: absolute;
  left: 17%;
  top: 28px;
  width: 65%;
  z-index: -1;
  transition: all 300ms linear;
 }

.process-model li:last-child::after {width: 0;}

.process-model li {
  display: inline-block;
  text-align: center;
  float: none;
  width: 33%;
  transition: all 300ms linear;
}

.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
  border: none;
  background: transparent;
  list-style: none;
  text-decoration: none;
}
.process-model li a {
  padding: 0;
  border: none;
  color: #586C89;
}
.process-model li.active,
.process-model li.visited {
  color: #1C66BC;
}

.process-model li a span.border-active{
  background: #F4F4F6;
  border: 2px dotted transparent;
  width: 70px;
  height: 70px;
}

.process-model li.active a span.border-active{
  background: #F4F4F6;
  border: 2px dotted #0095DA;
  width: 70px;
  height: 70px;
}

.process-model li.active p{
  font-weight: 600;
  color: #0095DA;
}

.process-model li.visited p {
  font-weight: 600;
  color: #10C25D;
}
.process-model li span {
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #dad9d9;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  color: #B6C0CD;
  background: #dad9d9;
  padding: 3px;
}

.process-model li.active span{
  padding: 3px;
}

.process-model li.active span{
 background: #0095DA;
 border-color: #0095DA;
 border-style: solid;
 color: #FFF;
}

.process-model li.visited span {
  background: #10C25D;
  border-color: #10C25D;
  border-style: solid;f.nav-tabs.process-model > li.active > a
  color: #FFF;
}

.process-model li p {
  font-size: 14px;
  margin-top: 10px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
  color: #606060!important;
  font-weight: normal
}
.process-model.contact-us-tab li::after  {
  display: none;
}
.process-model.contact-us-tab li.visited i {
  border-color: #e5e5e5;
}

@media (max-width: 1024px) {
  .process-model li p{
    font-size: 11px;
  }
}


.bg-blank{
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.17);
 }

 .buttons-tab{
  margin: 30px 0;
 }
/* Fim etapas */

/* galeria de imagens */
/* animation */
.bg-blank{
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.17);
}

.gallery{
  margin-top:40px;
}

.gallery > div{
  margin-bottom: 40px;
}

.animation, .animation img:first-child, .animation h3 {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

.animation {
	position: relative;
	width: 230px;
	height: 230px;
	/* margin: 5px; */
	/* padding: 5px; */
	z-index: 0;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
.animation:hover {
	z-index: 5;
}

/* Image is position nicely under li */
.animation > img:first-child {
	position: absolute;
	left: 0;
	top: 0;
	/* padding: 5px; */
  width:230px;
  height:230px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.animation h3{
  color: #fff;
  font-size: 18px;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 8px 0 8px 14px;
  width: 100%;
  text-align: left;
}

/* .animation > div{
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.animation form {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 20px;
}

.animation form img{
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.animation:hover > img:first-child {
  width:300px;
  height:300px;
	margin-top: -300px;
	margin-left: -300px;
	top: 115%;
	left: 115%;
}

.animation:hover form img{
  width: 60px;
  height: 60px;
}

.animation:hover h3 {
	font-size: 21px;
}

.animation.active form{
  opacity: 0;
}

.animation.active h3{
  background-color: rgba(5,118,54,0.7);
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.animation.active .check{
  position: absolute;
  z-index: 3;
  width: 36px;
  height: 27px;
  right: -5px;
}

.animation.active:hover form{
  opacity: 100;
}

.animation.active:hover h3{
  color: #fff;
  font-size: 18px;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 8px 0 8px 14px;
  width: 100%;
  text-align: left;
}

.animation.active:hover > img:first-child {
  width:230px;
  height:230px;
	margin-top: 0;
	margin-left: 0;
	top: 0;
	left: 0;
}
/* galeria de imagens */
/* animacoes com box */

/* animacao para próximo */
.animation-to-left{
  animation: animationLeft ease-out 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/

  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*when the spec is finished*/

  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*when the spec is finished*/

  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*when the spec is finished*/
}

@keyframes animationLeft{
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}

@-moz-keyframes animationLeft{
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}

@-webkit-keyframes animationLeft{
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}

@-ms-keyframes animationLeft{
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}
/* fim animacao para próximo */

/* animacao para anterior */
.animation-to-right{
  animation: animationRight ease-out 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
}

@keyframes animationRight{
  0% {
    opacity:0;
    transform:  translate(-500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}

@-moz-keyframes animationRight{
  0% {
    opacity:0;
    transform:  translate(-500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}

@-webkit-keyframes animationRight{
  0% {
    opacity:0;
    transform:  translate(-500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}

@-ms-keyframes animationRight{
  0% {
    opacity:0;
    transform:  translate(-500px,0px)  ;
  }
  100% {
    opacity:100;
    transform:  translate(0,0px)  ;
  }
}
/* fim animacao para anterior */



/* login */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.login img{
  margin-bottom: 70px;
}

.login .content-name{
  color: #fff;
}

.login .form input:valid + .label-name .content-name {
  color: #f9aa75;
}

.login .form input{
  font-weight: 300;
  color: #fff;
}

.login .form label::after{
  color: #FA883B;
}

body.login {
  background: url(../img/bglogin.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.login > div {
  font-size: 17px;
  position: absolute;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bar:before, .bar:after {
  background: transparent;
}
.login .group {
  margin: 40px 0;
}
.login .group label {
  color:#FFF;
  font-size: 17px;
}
.login .group label img {
  margin:0 7px 3px 0;
}
.login .group input {
  border-bottom: 1px solid #FFF;
  color:#FFF;
  font-size: 17px;
}
.login button {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius:100px;
  color:#FFF;
  width:100%;
  padding:10px 0;
  font-size: 17px;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  margin-top: 30px;
}
.login button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

/* fim login */

/* Forms Etapas */
.form {
  position: relative;
  height: 80px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 4px;
  border: none;
  background-color: transparent;
  padding-left: 0;
  color: #003C73;
  font-weight: 600;
}

.form-select {
  width: 100%;
  height: auto;
  padding-top: 21px;
  background-color: transparent;
  padding-left: 0;
  border-radius: 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.form-control {
  color: #939393;
  border: 1px solid #E6E6E6;
}

.form label {
  position: absolute;
  bottom: 13px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #E6E6E6;
  font-weight: 300;
}
.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #BABABA;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 0!important;
  transition: all 0.3s ease;
  color: #939393;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.content-name span:last-child {height: 22px;}

.form input:focus {outline: none;}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  left: 0px;
  color: #f9aa75;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.icones{font-size: 20px; margin-right: 5px;}

.row-sub{
  background: #f6f7fb;
  padding: 10px;
  border-radius: 4px;
  margin: 35px 0 20px;
}



.form-row{
  margin-bottom: 15px;
}


.add-mais {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #0070BE;
  color: #fff;
  /* padding-top: 4px; */
  font-size: 20px !important;
  margin: 0 auto;
  cursor: pointer;
}
.box-item {
  background: none;
  border: 1px solid #939393;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  color: #939393;
}

.box-item .equipamentos > a{
  color: red;
  text-decoration: none;
}

.equipamentos{float: left;}

@media only screen and (max-width: 990px) {
  .equipamentos{float: none;}
}

.row-sub h6{
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #8ba0af;
}

.bg-blank h4{
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 20px;
}
/* Fim Forms Etapas */


/* home */
/* .home .row > div{
  padding: 0;
} */

/* Home Fernando */
.box{
  width:555px;
  height: 555px;
}
.box .content{
  overflow:hidden;
  width:555px;
  height: 555px;
  background: url('../img/bg-car.png') no-repeat;
  position:relative;    
}
.box .content:hover{
  background: #000;
}

.box .content img{
  margin-top:-120px;
  -webkit-transition: all 500ms ;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ;
  transition: all 500ms ;
  width:555px;
  height: 555px;
}

.box .content:hover img{
  opacity:0.3;
  margin-top:-170px;
  -webkit-filter: blur(3px);
  width: 100%;
  height: auto;
}
.box .content:hover .text1{
  left:130px;
  opacity:1;    

}
.box .content:hover .text2{
  left:180px;
  opacity:1;
}
.box .content .text1{
  color:#fff;
  font-size:40px;
  font-family: 'Racing Sans One', cursive;
  position:absolute;
  left:330px;
  top:60px;
  opacity:0;

-webkit-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
 -moz-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
  -ms-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
   -o-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
      transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795);

-webkit-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
 -moz-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
  -ms-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
   -o-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
      transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795);    
}
.box .content .text2{
  color:#fff;
  font-size:20px;
  font-family: 'Racing Sans One', cursive;
  position:absolute;
  left:-100px;
  top:100px;
  opacity:0;
-webkit-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
 -moz-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
  -ms-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
   -o-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
      transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980);

-webkit-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
 -moz-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
  -ms-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
   -o-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
      transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980);
}
/* .box:before{
  content:"";
  width:80%;
  height:8px;
  bottom: 18px;
  left: 13px;
  z-index: -1;
  background: #000;
  position: absolute;
  box-shadow: -10px 10px 20px #000;
  -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.box:after{
  content:"";
  width:80%;
  height:8px;
  bottom: 18px;
  right: 13px;
  z-index: -1;
  background: #000;
  position: absolute;
  box-shadow: 10px 10px 20px #000;
  -moz-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
} */
/* Fim Home Fernando */

.header-home .offcanvas-collapse ul.navbar-nav li.menu-principal, .nav-user .nav-link{
  display: block;
}
.header-home nav.nav-mso, nav.bg-blue{
  background: #404040;
}

.header-home .nav-user > a.active{
  color: #000;
}
.home .col-6{
  padding: 100px 50px 50px 50px;
}

.home a{
  /* width: 100%;
  height: 100%; */
  display: block;
  position: relative;
  margin: 0 auto;
}

.home a:hover{
  text-decoration: none;
}

.home a > div{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  text-align: center;
  transition: all 0.8s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}

.home .row > div a:hover > div{
  filter: blur(5px)!important;  
  transition: all 0.8s;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.home .bg-car{
  background: url('../img/bg-car.png') no-repeat;

}

.home .bg-house{
  background: url('../img/bg-house.png') no-repeat;

}

.home h2{
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  z-index: 2;
  top: 65px;
  text-align: center;
  width: 100%;
  transition: all 0.5s;
}

.home .row > div a:hover > h2{
  font-weight: 300;
  font-size: 44px;
  letter-spacing: 3px;
  transition: all 0.5;
}

.home img{
  opacity: 0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 2;
  transition: all 1.5s;
}

.home .row > div a:hover img{
  opacity: 1;
  transition: all 1.5s;
}
/* fim home */

/* login */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

body.login {
  background: url(../img/bglogin.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.login > div {
  font-size: 17px;
  position: absolute;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bar:before, .bar:after {
  background: transparent;
}
.login .group {
  margin: 40px 0;
}
.login .group label {
  color:#FFF;
  font-size: 17px;
}
.login .group label img {
  margin:0 7px 3px 0;
}
.login .group input {
  border-bottom: 1px solid #FFF;
  color:#FFF;
  font-size: 17px;
}
.login button {
  background-color: rgba(250, 136, 59, 0.5);
  border: 1px solid #FFF;
  border-radius:100px;
  color:#FFF;
  width:100%;
  padding:10px 0;
  font-size: 17px;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.login button:hover {
  background-color: rgba(250, 136, 59, 0.4);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

/* fim login */

/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 300px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}
/* Responsive hack */
@media only screen and (max-width: 498px) {

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}
}

/* Fim Box imagens */




/*Banner vistoria.automovel
.carousel-caption{height: 100%;}
.carousel-caption > h3{
  display: flex;
  justify-content: center;
  padding: 15% 0 1% 0;
}

.box-foto{
  display: flex;
  justify-content: center;
}

#carregarImg {
  position: relative;
  width: auto;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  cursor: pointer;
}

#carousel-vistoria.automovel a.carousel-control-prev{

}
.box-miniatura{
  width:100%;
  max-width:320px;
}

.box-caption{
  padding: 8px 5px 2px 5px;
  background: #10C25D;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.box-miniatura a > img{
  width:100%;
  max-width:320px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-miniatura a{
  text-decoration: none;
  list-style: none;
}
/* Fim Banner vistoria.automovel */
/* FIM vistoria.automovel */

/* Navbar */

.nav-user > a.active{color: #1B72C8;}



/* .display-desk{

  display: none;

} */



.display-mobile{

  display: none;

}



nav > a.navbar-brand{

  background-image: url('../img/logo-ebix-topo.png');

  width: 202px;

  height: 34px;

}



.padding-nav > li > a{padding-top:22px;}



.navbar-nav .nav-item .padding-li-itens{padding-bottom: 0; padding-top: 0;}

.nav-link.yellow.padding-li-itens{color: #ccc}



@media (max-width: 1024px){

  .display-mobile{

    display: none;

  }

}



@media (max-width: 991.98px) {



  nav > a.navbar-brand{

    background-image: url('../img/icon-logo-ebix.png');

    width: 42px;

    height: 34px;

  }



  .display-mobile{

    display: block;

  }



  .offcanvas-collapse {

    position: fixed;

    top: 71px; /* Altura da navbar */

    bottom: 0;

    left: 100%;

    width: 100%;

    padding-right: 1rem;

    padding-left: 1rem;

    overflow-y: auto;

    visibility: hidden;

    background-color: #fff;

    transition-timing-function: ease-in-out;

    transition-duration: .3s;

    transition-property: left, visibility;

  }

  .offcanvas-collapse.open {

    left: 0;

    visibility: visible;

  }



  nav > a, nav ul li > a {

    color: #4d4e53 !important;

  }



  .offcanvas-collapse ul.navbar-nav li.menu-principal {

    width: 100% !important;

    height: 70px;

    border-bottom: 1px solid #d5d5d5;

  }





  .nav-user{

    position: absolute;

    top: 0;

    right: 0;

    left: 400px;

    display: block;

    visibility: visible;

    overflow: visible;

    display: flex;

    font-size: 14px;

    height: 50px;

  }



  .nav-sair{

    padding-top:3px;

  }



  .nav-user > a{

    color: #fff;

    height: 55px !important;

    padding-top: 18px;
    display: block;

  }



  .nav-user > a.active{color: #1B72C8; height: 30px; background:#F4F4F6; display: block;}



  .popover{top: 5px !important;}



  .display-desk{

    display: none;

    visibility: hidden;

    overflow: hidden;

  }



  nav.nav-mso, nav.bg-blue{

    height: 55px !important;

    width: 100%;

  }

}



.nav-scroller {

  position: relative;

  z-index: 2;

  height: 2.75rem;

  overflow-y: hidden;

}



.nav-scroller .nav {

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: nowrap;

  flex-wrap: nowrap;

  padding-bottom: 1rem;

  margin-top: -1px;

  overflow-x: auto;

  color: rgba(255, 255, 255, .75);

  text-align: center;

  white-space: nowrap;

  -webkit-overflow-scrolling: touch;

}



.nav-underline .nav-link {

  padding-top: .75rem;

  padding-bottom: .75rem;

  font-size: .875rem;

  color: #6c757d;

}



.nav-underline .nav-link:hover {color: #007bff;}



.nav-underline .active {

  font-weight: 500;

  color: #343a40;

}



.text-white-50 { color: rgba(255, 255, 255, .5); }



.bg-purple { background-color: #6f42c1; }



.lh-100 { line-height: 1; }

.lh-125 { line-height: 1.25; }

.lh-150 { line-height: 1.5; }



nav.nav-mso, nav.bg-blue {



  height: 70px;

}

.vistoria.automovel nav.nav-mso, nav.bg-blue {

  background: rgb(13,129,237);

  background: -moz-linear-gradient(90deg, rgba(13,129,237,1) 0%, rgba(35,100,167,1) 100%);

  background: -webkit-linear-gradient(90deg, rgba(13,129,237,1) 0%, rgba(35,100,167,1) 100%);

  background: linear-gradient(90deg, rgba(13,129,237,1) 0%, rgba(35,100,167,1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d81ed",endColorstr="#2364a7",GradientType=1);
}

.vistoria.residencial nav.nav-mso {

  background: rgb(13,129,237);

  background: -moz-linear-gradient(90deg, rgba(13,129,237,1) 0%, rgba(35,100,167,1) 100%);

  background: -webkit-linear-gradient(90deg, rgba(13,129,237,1) 0%, rgba(35,100,167,1) 100%);

  background: linear-gradient(90deg, rgba(13,129,237,1) 0%, rgba(35,100,167,1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d81ed",endColorstr="#2364a7",GradientType=1);
}



nav > a, nav ul li > a{color: #fff;}



.ml-auto-ajustes{margin:0 0 0 9px !important;}



.offcanvas-collapse ul.navbar-nav li.menu-principal{

  width: 206px;

  height: 70px;

  text-align: center;

}



.offcanvas-collapse ul.navbar-nav li.active{background-color: #F4F4F6;}



.offcanvas-collapse ul.navbar-nav li.active a{

  color: #1B72C8;

  font-weight: bold;

}



@media (max-width: 768px) {

  .nav-user{

    position: absolute;

    top: 0;

    right: 0;

    left: 160px;

    display: block;

    visibility: visible;

    overflow: visible;

    display: flex;

    font-size: 14px;

    height: 50px;

  }

}



@media (max-width: 480px) {

  .nav-user{

    position: absolute;

    top: 0;

    right: 0;

    left: 85px;

    display: block;

    visibility: visible;

    overflow: visible;

    display: flex;

    font-size: 14px;

    height: 50px;

  }

}

 /* Fim Navbar */

 /* Select form */

 .display-none-box{

  display: none;

  overflow: hidden;

  visibility: hidden;

 }



 select#sel{

  width: 100%;

  color: #939393;

  border: 1px solid #939393;

  background: #fff;

  height: 36px;

}



 #board {

  text-align: center;

  font-family: monospace;

  position:relative;

}



.stld-fields {



}



.ctrl {

  padding: 5px;

  margin: 10px;

  text-align: center;

}



.btn:hover {

  background-color: #F9B02B;

}



.enty {

  font-size: 14px;

  font-weight: 600;

}



.header {

  font-size: 28px;

  font-weight: 600;

  text-align: center;

  font-family: monospace;

  margin-bottom: 20px;

}



.sltd-box {

  display: inline-table;

  width: 100%;

  height: auto;

  border-radius: 2px;

  padding: 5px;

  margin: 5px 2px;

  background-color: #fff;

  font-family: monospace;

  text-align: left;

}



.open-box {

  display: inline-table;

  width: 200px;

  height: 200px;

  border: 1px solid #EAC204;

  border-radius: 2px;

  box-shadow: 1px 1px 1px 1px #aaa;

  padding: 5px;

  margin: 5px 2px;

  background-color: #fcd000;

  font-family: monospace;

  text-align: left;

}



.ctrl-main {

  display: inline-table;

  width: 50px;

  margin:0px 5px;

}



.ctrl-box {

  display: inline-block;

  width: 30px;

  height: 30px;

  border: 1px solid #CCC;

  border-radius: 2px;

  box-shadow: 1px 1px 1px 1px #aaa;

  padding: 5px;

  margin: 5px 2px;

  background-color: #eee;

  font-family: monospace;

  font-size: 42px;

  line-height: 0.6;

  cursor: pointer;

  transition: background-color 100ms linear;

  position: relative;

  top: 68px;

}



#c1_box.ctrl-box:hover {

  background-color: #47cf73;

}



#c2_box.ctrl-box:hover {

  background-color: #F52B30;

}



.open-box .open-item {

  display: block;

  background-color: #eee;

  margin-bottom: 3px;

  padding: 2px;

  cursor: pointer;

  transition: box-shadow 0.1s linear;

}



.open-box .open-item:hover {

  background-color: #313131;

  color: #eee;

}



.open-box .open-item.locked {

  background-color: #70D1F5;

}



.btitle {

  text-align: center;

  text-decoration: underline;

  margin-bottom: 4px;

}



.sltd-box .sltd-item {

  border: 1px solid #F4F4F6;

  padding: 6px;

  border-radius: 3px;

  background-color: #F4F4F6;

  display: inline-block;

  margin: 2px 3px;

  /* width: 240px; */

  width: auto;

  font-family: 'Open Sans';

  text-align: center;

  margin: 5px 10px;

}



.sltd-box .stld-action {

  display: inline-block;

  text-align: center;

  /* border-left: 1px solid #038EC1; */

  margin-left: 3px;

  padding: 2px;

  /* background-color: #6FD8FF; */

  font-weight: 600;

  font-size: 14px;

  cursor: pointer;

  color: #BB1212;

}



.sltd-box .sltd-item.sample {

  display: none;

}



.breaker {

  height: 2px;

  border-bottom: 1px solid #AAA;

  color: black;

  margin: 10px 100px 5px 100px;

}

/* Fim Select form */​

/* Menu Toggle */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-bottom-right-radius: 50px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2{width: 25px;}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* Fim Toggle */

/* modal */
.modal-header{
  background: #8e9faf;
}

.modal p {
color: #757575;
}

.close{
  color: #fff;
  text-shadow: none;
  opacity: 1!important;
}

.modal-footer{
  border-top: none;
}
.modal-header{
  color: #fff;
}
/* fim modal */

/* dicas */


.row-sub.doc{
  background: transparent;
  padding: 0;
}

.tip{
  background:#fffef3 url(../img/icon-lamp.png) 8px 9px no-repeat;
  padding: 10px 37px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ffeca7;
  margin: 35px 0 10px;
  color: #7f8f96;
}

.tip span{
  color: #fff;
}

 .doc span{
  display: block;
  width: 100%;
}

.doc .tip + span{
  padding: 9px 0;
  border: 1px solid #ffc800;
  padding-left: 10px;
  width: 100%;
}





/* fim dicas */


/* button upload animado */

.loading{
  position: relative;
}

.bt-upload{
  border: 1px dashed #0095DA;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  height: 53px;
}

.bt-upload.blue{
  border: 1px dashed #0095DA;
}

.bt-upload.orange{
  border: 1px dashed #0095DA;
}

.bt-upload.blue span{
  background: url(../img/icon-foto.png)0px 3px no-repeat;
  width: 33px;
  height: 29px;
  display: block;
  padding: 5px 0 0 46px;
  color: #0095DA;
  position: absolute;
}


.bt-upload.blue.carregando{
  background: #0095DA;
  color: #fff;
}

.bt-upload.blue.carregando span{
  background: url(../img/icon-foto-small.png) 7px 7px no-repeat;
  width: 33px;
  height: 26px;
  color: #fff;
}


.doc + .row .form-group{
  position: relative;
}
.clear {clear:both;}

.load-5 {
  position: absolute;
  top: 6px;
  left: 7px;
  z-index: 2;
}

.ring-2 {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 100%;
}

.ball-holder {
  position: absolute;
  width: 0px;
  height: 36px;
  left: 17px;
  top: -1px;
}

.ball {
  position: absolute;
  top: -5px;
  left: 0;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: #fff;
}

.load-5 .ball-holder {
  animation: loadingE 1.3s linear infinite;
}

.l-5 {
  animation-delay: .96s;
}

@keyframes loadingE {
    0 {
      transform: rotate(0deg);
  }
    100% {
      transform: rotate(360deg);
  }
}

/* button animado */


/* Datepicker estilos */

.datetimepicker{
  width: 255px;
  font-size: 14px;
}

.datetimepicker table {
  margin: 0;
  width: 245px;
}

.datetimepicker th{
  border: 0 !important;
  -webkit-border-radius:0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  width: 30px !important;
  height: 20px !important;
  font-size: 16px;
}

table.table-condensed thead tr:first-child{
  background: #e9e5e3;
  border: 0;
  height: 50px;
}

table.table-condensed thead tr:last-child th{
  color: #0095DA;
  font-weight: 400;
}

table.table-condensed thead tr:hover th.next{
  background: #e9e5e3;
  color: #fff;
  text-align: right;
}

table.table-condensed thead tr th.switch{
  color: #b0aead;
  font-weight: 400;
}

table.table-condensed thead tr:hover th.switch{background: #e9e5e3;}

table.table-condensed thead tr:hover th.prev{background: #e9e5e3;}

table.table-condensed thead tr:hover th.next{background: #e9e5e3;}

table.table-condensed tbody tr td.day.active{background: #0095DA;}

.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active{
  background: #0095DA !important;
}

.datetimepicker th span.glyphicon-arrow-left{
  background: #e9e5e3 url(../img/glyphicon-arrow-circle-left.png) right center no-repeat;
  height: 24px;
  display: block;

}

.datetimepicker th span.glyphicon-arrow-right{
  background: #e9e5e3 url(../img/glyphicon-arrow-circle-right.png) left center no-repeat;
  height: 24px;
  display: block;
}

/* Fim Datepicker estilos */

/* media querie */

@media (max-width: 576px) {
  .home a > div, .home a{
    width: 250px;
    height: 250px;
  }
  .home .bg-car{
    background: url(../img/bg-car-250.png) no-repeat;
    background-size: cover;
  }
  .home .bg-house{
    background: url(../img/bg-house-250.png) no-repeat;
    background-size: cover;
  }

  .home h2{
    top:99px;
    font-size: 30px;
    font-weight: 400;
  }

  .home img{
    display: none;
  }

  .car a{
    margin-bottom: 40px;
  }

}


@media (min-width: 577px) and (max-width: 765px) {
  .home a > div, .home a{
    width: 200px;
    height: 200px;
  }
  .home .bg-car{
    background: url(../img/bg-car-300.png) no-repeat;
    background-size: cover;
  }
  .home .bg-house{
    background: url(../img/bg-house-300.png) no-repeat;
    background-size: cover;
  }

  .home h2{
    top:79px;
    font-size: 25px;
    font-weight: 400;
  }

  .home .row > div a:hover img{
    opacity: 0;
    transition: none;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .home a > div, .home a{
    width: 300px;
    height: 300px;
  }

  .home .bg-car{
    background: url(../img/bg-car-300.png) no-repeat;
    background-size: cover;
  }
  .home .bg-house{
    background: url(../img/bg-house-300.png) no-repeat;
    background-size: cover;
  }

  .home h2{
    top:119px;
    font-size: 30px;
    font-weight: 400;
  }

  .home .row > div a:hover img{
    opacity: 0;
    transition: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home a > div, .home a{
    width: 400px;
    height: 400px;
  }

  .home .bg-car{
    background: url(../img/bg-car-400.png) no-repeat;
    background-size: cover;
  }
  .home .bg-house{
    background: url(../img/bg-house-400.png) no-repeat;
    background-size: cover;
  }

  .home h2{
    top: 35px;
  }

  .home img{
    width: 20%;
  }
}

@media (min-width: 1200px) {

  .home a > div, .home a{
    width: 555px;
    height: 555px;
  }


  .home .bg-house{
    float: left;
  }

  .home .car a{
    margin: 0;
    float: right;
  }

  .home .house a{
    margin: 0;
    float: left;
  }

  .home img{
    width: 25%;
  }
}




/* fim media querie */
